{
    "cycle": "Cycle Name",
    "sprint": {
        "name":  "Sprint Name",
        "start": "2021-06-21T09:00:00-05:00",
        "end":   "2021-06-30T12:00:00-05:00"
    },
    "name": "Team Name",
    "manager": {
        "name": "Elvis Presley",
        "greetings": [
            "can you share your wisdom?",
            "have you contemplated the universe today?",
            "might or might not have something interesting to say.",
            "needs our attention.",
            "sometimes has nothing to say.",
            "is our boss, we should listen to him.",
            "might have missed most of this meeting, but that's ok.",
            "is here?"
        ]
    },
    "members": [
        {
            "name": "Celine Dion",
            "assignments": [
                {
                    "reference": "JIRA-123",
                    "summary": "Do something very interesting",
                    "status": "todo"
                },
                {
                    "reference": "JIRA-231",
                    "summary": "Develop something amazing",
                    "status": "progress"
                },
                {
                    "summary": "It's my turn to look at server alerts.",
                    "type": "weekly"
                }
            ]
        }, {
            "name": "John Travolta",
            "assignments": [
                {
                    "reference": "JIRA-333",
                    "summary": "Fix that annoying bug",
                    "status": "done"
                },
                {
                    "reference": "JIRA-365",
                    "summary": "Add tests to complete the coverage",
                    "status": "progress"
                },
                {
                    "reference": "JIRA-477",
                    "summary": "Document that complex feature",
                    "status": "todo"
                },
                {
                    "summary": "It's my turn to look at server alerts.",
                    "type": "weekly"
                }
            ]
        }, {
            "name": "David Copperfield",
            "assignments": []
        }
    ]
}